Source: tcpdump
Section: net
Priority: optional
Maintainer: Romain Francoise <rfrancoise@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libpcap0.8-dev (>= 0.9.3), libssl-dev,
               autotools-dev, hardening-includes
Standards-Version: 3.8.4
Homepage: http://www.tcpdump.org/
Vcs-Browser: http://git.debian.org/?p=users/rfrancoise/tcpdump.git
Vcs-Git: git://git.debian.org/git/users/rfrancoise/tcpdump.git

Package: tcpdump
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A powerful tool for network monitoring and data acquisition
 This program allows you to dump the traffic on a network. tcpdump 
 is able to examine IPv4, ICMPv4, IPv6, ICMPv6, UDP, TCP, SNMP, AFS
 BGP, RIP, PIM, DVMRP, IGMP, SMB, OSPF, NFS and many other packet
 types.
 .
 It can be used to print out the headers of packets on a network 
 interface, filter packets that match a certain expression. You can 
 use this tool to track down network problems, to detect "ping attacks" 
 or to monitor network activities. 
